@import "tailwindcss";

/* Colores por defecto (modo claro) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Colores en modo oscuro */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Registrar variables como colores Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Aplicar colores al body */
body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
